version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.0.0
  aws-ecr: circleci/aws-ecr@9.3.1
  aws-ecs: circleci/aws-ecs@4.1.0
  codecov: codecov/codecov@4.1.0
  jira: circleci/jira@2.1.0
  slack: circleci/slack@4.13.3

jobs:
  test: # Also lints first
    # Working directory must match docker-compose mount / Docker `COPY` for real Doctrine proxy
    # generation-dependent tests to work.
    working_directory: /var/www/html
    docker:
      - image: thebiggive/php:dev-8.5
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN
        environment:
          MYSQL_HOST: 127.0.0.1
          REDIS_HOST: 127.0.0.1
          MYSQL_SCHEMA: identity
          MYSQL_USER: root
          MYSQL_PASSWORD: tbgCircle123
      - image: mysql:8.4.6
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN
        environment:
          MYSQL_DATABASE: identity
          MYSQL_ROOT_PASSWORD: tbgCircle123
      - image: redis:7.0
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_ACCESS_TOKEN
    steps:
      - checkout

      - restore_cache:
          keys:
            - composer-v3-{{ checksum "composer.lock" }}

      - run: composer install --no-interaction

      - save_cache:
          paths:
            - vendor
          key: composer-v3-{{ checksum "composer.lock" }}

      - run: composer run lint:check

      - run: composer run sa:check

      - run: composer run doctrine:generate-proxies

      - run: composer run test

      - run: composer run doctrine:migrate

      # Ensures schema is in sync and implicitly that future migration diffs should work.
      - run: composer run doctrine:validate -v

      - run: composer run integration-test

      - run: composer run docs # Ensure OpenAPI annotations remain valid

      - run: cd docs && apt update && apt install -y npm && npm i swagger-ui-dist

      - store_artifacts:
          path: docs

      - codecov/upload:
          file: 'coverage.xml'
      - codecov/upload:
          file: 'coverage-integration.xml'

workflows:
  build:
    jobs:
      - test:
          filters:
            branches:
              # separate `build-and-notify` workflow for these branches includes sending notifications
              ignore: ['main', 'develop', 'trunk']
          context:
            - docker-hub-creds
  build-and-notify:
    jobs:
      - test:
          filters:
            branches:
              only: ['main', 'develop', 'trunk']
          context:
            - docker-hub-creds
            - jira
            - slack
          post-steps:
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: build
                environment_type: development
            - slack/notify:
                event: fail
                template: basic_fail_1

  deploy-staging:
    jobs:
      - test:
          filters:
            branches:
              only:
                - develop
          context:
            - docker-hub-creds
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
          requires:
            - test
          repo: '${AWS_ECR_REPO_NAME}'
          region: 'us-east-1'
          tag: 'staging,staging-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
      - aws-ecs/deploy_service_update:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - aws-ecr/build_and_push_image
          family: 'tbg-staging-${AWS_REGION}-identity' # also sets `service`
          cluster: 'tbg-staging-${AWS_REGION}'
          container_image_name_updates: 'container=identity,tag=staging-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
                environment: Staging
                environment_type: staging
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Staging: Identity deployed!* All visitors should see the updated app version within 30 minutes."
                          }
                        ]
                      }
                    ]
                  }
  deploy-regression:
    jobs:
      - test:
          filters:
            branches:
              only:
                - develop
          context:
            - docker-hub-creds
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
          requires:
            - test
          repo: '${AWS_ECR_REPO_NAME}'
          region: 'us-east-1'
          tag: 'regression,regression-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
      - aws-ecs/deploy_service_update:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - aws-ecr/build_and_push_image
          family: 'tbg-regression-${AWS_REGION}-identity' # also sets `service`
          cluster: 'tbg-regression-${AWS_REGION}'
          container_image_name_updates: 'container=identity,tag=regression-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
                environment: Regression
                environment_type: staging
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Regression: Identity deployed!* All visitors should see the updated app version within 30 minutes."
                          }
                        ]
                      }
                    ]
                  }
  deploy-production:
    jobs:
      - test:
          filters:
            branches:
              only:
                - main
          context:
            - docker-hub-creds
      - aws-ecr/build_and_push_image:
          context:
            - ecs-deploys
          requires:
            - test
          repo: '${AWS_ECR_REPO_NAME}'
          region: 'us-east-1'
          tag: 'production,production-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
      - aws-ecs/deploy_service_update:
          context:
            - ecs-deploys
            - jira
            - slack
          requires:
            - aws-ecr/build_and_push_image
          family: 'tbg-production-${AWS_REGION}-identity' # also sets `service`
          cluster: 'tbg-production-${AWS_REGION}'
          container_image_name_updates: 'container=identity,tag=production-${CIRCLE_SHA1}'
          auth:
            - aws-cli/setup:
                aws_access_key_id: AWS_ACCESS_KEY_ID
                aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          post-steps:
            - slack/notify:
                event: fail
                template: basic_fail_1
            - jira/notify:
                pipeline_id: << pipeline.id >>
                pipeline_number: << pipeline.number >>
                job_type: deployment
                environment: Production
                environment_type: production
            - slack/notify:
                custom: |
                  {
                    "blocks": [
                      {
                        "type": "section",
                        "fields": [
                          {
                            "type": "mrkdwn",
                            "text": "*Production: Identity deployed!* All visitors should see the updated app version within 30 minutes."
                          }
                        ]
                      }
                    ]
                  }

# VS Code Extension Version: 1.5.1
